<div class ="container-general">
<div class="container py-5">
<div class="cover mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1>All My Bookings</h1>
    </div>
  </div>

  <div class="card-booking-container">
    <div class="cards-booking">
    <% @bookings.each do |booking| %>
      <div class="card-booking">
        <h2><%= booking.animal.name %></h2>
        <p><%= booking.animal.description %></p>

        <br>
        <p>Start date : <%= booking.start_date %></p>
        <p>End date : <%= booking.end_date %></p>
        <p class="btn-flat"><%= link_to 'Add a review', new_animal_review_path(booking.animal) %> </p>
      </div>
    <% end %>
    </div>
  </div>

</div>
</div>
