<h1>All My Bookings</h1>

<ul>
    <% @bookings.each do |booking| %>
    <li>

    <h2><%= booking.animal.name %></h2>
    <p><%= booking.status %></p>
    <p>Price paid : <%= booking.price_booking %>€</p>
    <p>starting date : <%= booking.start_date %></p>
    <p>ending date : <%= booking.end_date %></p>
    <% end %></li>
  </ul>
