<h1>Make a booking for <%= @animal.name %></h1>

<%= simple_form_for [ @animal, @booking ] do |f| %>
  <%= f.input :status %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :price_booking %>
  <%= f.button :submit %>
<% end %>
