<div class="container-general py-5">
  <div class="booking-new-container">
    <div class="booking-bar">
      <h1>Make a booking for <%= @animal.name %>
      </h1>
      <%= simple_form_for [ @animal, @booking ] do |f| %>
        <p id="beg-date" class="start-date"><%= f.input :start_date %></p>
        <p class="end-date"><%= f.input :end_date %></p>
        <%= f.button :submit, class: "btn btn-lg btn-block btn-warning" %>
          <% end %>
    </div>
    <div class="price-card">
      <div class="picture-description">
        <div class="picture-before-booking">
          <% @animal.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 100, width: 150, crop: :fill, :radius => 20 %>
            <% end %>
        </div>
        <div class="description-before-booking">
          <%= @animal.name %></h1>
          <p><%= @animal.description %></p>
        </div>
      </div>
        <hr>
        <div class="price-update-live">
          <h3>Pricing details</h3>
          <p id="price-per-day"><%= @animal.price_per_day %> € / Day</p>
          <p id="stay-day"> Number of days :</p>
          <p id="discount-stay"> Discount for long stay :</p>
          <strong><p id="price-total"> Total Price :</p></strong>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-renter">
  <h2>Few reviews from previous renters</h2>
  <% @animal.reviews.each do |review| %>
    <div class="card-review">
      <p class="review-rating-number"><%= review.rating %></p>
      <p><%= review.comment %></p>
    <% end %>
    </div>
</div>
