<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1> Voici tous les animaux dispo </h1>
    <h2>  <%= link_to 'Propose an animal', new_animal_path%> </h2>
  </div>
</div>

<div>
  <% @animals.each do |animal| %>
    <p><%= animal.name %></p>
    <p><%= animal.size %> cm </p>
    <p><%= animal.description %></p>
    <p><%= animal.address %></p>
    <p><%= animal.city %></p>
    <p><%= animal.price_per_day %>€</p>
    <p><%= animal.id.photo %></p>
    <p class="btn btn-primary"><%= link_to 'Book', new_animal_booking_path(animal) %> </p>
  <% end %></li>
</div>
