<div class="main-container py-5">

  <div class="container-animal">
  <%= form_tag animals_path, method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find the dino of your nights" %>
            <%= submit_tag "Search", class: "btn btn-flat" %>
          </div>
        <% end %>
    <% @animals.each do |animal| %>
      <div class="card-animals">
        <% if animal.photos.attached? %>
          <div class="card-img" style="background-image: url('<%= cl_image_path animal.photos.first&.key %>')">
          </div>
        <% end %>

        <div class="card-info">
          <div class="card-text">
            <h2><%=link_to animal.name, animal_path(animal) %></h2>
            <p class="specie"><strong><%= animal.specie %></strong></p>
            <p><%= animal.description %></p>
            <p>Prix : <%= animal.price_per_day %>€</p>
          </div>
          <%if params[:me].present? %>

          <p></p>
          <%else %>
            <p class="btn btn-flat"><%= link_to 'Book', new_animal_booking_path(animal) %> </p>
          <%end %>
          </div>
      </div>
    <% end %>
  </div>

  <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
