<div class="main-container py-5">

  <div class="container-animal">
    <% @animals.each do |animal| %>
      <div class="card-animals">
        <% if animal.photos.attached? %>
          <div class="card-img" style="background-image: url('<%= cl_image_path animal.photos.first&.key %>')">
          </div>
        <% end %>

        <div class="card-info">
          <h2><%=link_to animal.name, animal_path(animal) %></h2>
          <p> Taille :<%= animal.size %> cm </p>
          <p><%= animal.description %></p>
          <p><%= animal.price_per_day %>€</p>
          <p><%= animal.specie %></p>
          <p class="btn btn-danger"><%= link_to 'Book', new_animal_booking_path(animal) %> </p>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
