<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1> Voici tous les animaux dispo </h1>
    <h2>  <%= link_to 'Propose an animal', new_animal_path%> </h2>
  </div>
</div>

<div class="container py-5">
    <ul>
      <% @animals.each do |animal| %>
      <li>

      <p><%=link_to animal.name, animal_path(animal) %></p>
      <p><%= animal.size %> cm </p>
      <p><%= animal.description %></p>
      <p><%= link_to 'Book', new_animal_booking_path(animal) %> </p>
      <% end %></li>
    </ul>
</div>
