<div class="main-container">
  <div class="container py-5">
    <div class="info-title-animal align-items-center">
        <h1> <%= @animal.name %> </h1>
    </div>

    <div class="info-detail-animal">
      <div class="col-md-5">
      <div class="info-image-sticky">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @animal.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index.zero? && 'active'%> ">
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, radius: 20, class: 'd-block w-100' %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div>
        <div class="container-actions-show">
          <p class="btn btn-flat"> <%= link_to 'Book this animal', new_animal_booking_path(@animal)%> </p>
        </div>
      </div>
      </div>

      <div class="col-md-7">
        <div class="description-animal">

          <div class="info-detail-animal">
            <i class="fas fa-signature"></i>
            <div class="animal-question-answer">
              <h3> How old I am?</h3>
              <p> I am not that old! I am <%= @animal.age %> years old</p>
            </div>
          </div>

          <div class="info-detail-animal">
            <i class="fas fa-paw"></i>
            <div class="animal-question-answer">
              <h3> What species I am?</h3>
              <p> I am a <%= @animal.specie %></p>
            </div>
          </div>

          <div class="info-detail-animal">
            <i class="fas fa-drumstick-bite"></i>
            <div class="animal-question-answer">
              <h3> How can you feed me so that I'll be happy?</h3>
              <p> <%= @animal.diary %></p>
            </div>
          </div>

          <div class="info-detail-animal">
            <i class="fas fa-ruler"></i>
            <div class="animal-question-answer">
              <h3> What is my size?</h3>
              <p> I am <%= @animal.size %> tall</p>
            </div>
          </div>


          <div class="info-detail-animal">
            <i class="fas fa-grin-beam"></i>
            <div class="animal-question-answer">
              <h3> More about me?</h3>
              <p> <%= @animal.description %></p>
            </div>
          </div>

          <div class="info-detail-animal">
            <i class="fas fa-euro-sign"></i>
            <div class="animal-question-answer">
              <h3> How much for a day together?</h3>
              <p> <%= @animal.price_per_day %>€</p>
            </div>
          </div>

          <div class="card-review-section">
            <% if @animal.reviews.empty? %>
              <p class="btn btn-add-review"><%= link_to 'Be the first one to review this list', new_animal_review_path(@animal) %></p>
            <% else %>
            <h2>
              <%= pluralize @animal.reviews.size, "review" %> from past renters
            </h2>

              <% @animal.reviews.each do |review| %>
                <% review.rating&.times do %>
                  <%# <i class="star-card fas fa-star"></i> %>
                  <i>🐊</i>
                <% end %>
                <p class="comment-review"> <%= review.comment %> </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
