<h1> <%= @animal.name %> </h1>
<p> <%= @animal.description %></p>
<% @animal.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to 'back to list', animals_path%>

<%= link_to "Delete",
            animal_path(@animal),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
