<h1> <%= @animal.name %> </h1>
<p> <%= @animal.description %></p>
<p> <%= @animal.animal_id.review.rating %></p>
<% @animal.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to 'back to list', animals_path%>
<%= link_to 'edit this animal', edit_animal_path%>
<%= link_to 'Book this animal', new_animal_booking_path(@animal)%>

<%= link_to "Delete",
            animal_path(@animal),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
